body {
    overflow-x:hidden;
    color: #000000 !important;
    background-color: #FFFFFF !important;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
select {
    margin: 50px;
    width: 100%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height:50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../Img/angle-down2.jpg) 96% / 30px no-repeat #EEE;
}

a {
    text-decoration: none;
    position: relative;
    color:#000000;
}
a:hover {
     text-decoration: none !important;
 }
a span {
    display: none;
    position: absolute;
    color: #2680f6;
    background: #676EFF;
    padding: 5px;
}
a:hover span {
    display: inline-block; text-align: center;
    width: 250px;
    min-height: 30px;
    margin-top: 25px;
    font-family: pt-sans, sans-serif;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
input {
    font-family: pt-sans, sans-serif;
    height: 50px;
    font-size: 20px;
    width: 100%;
    padding: 0 10px;
}
table tr th,
table tr td {
    padding: 10px;
}
#logintext {
    display: inline-block;
    position: absolute;
}
ul#ul-class-login {
    list-style: none;
    line-height: 200px;
}
ul#ul-class-login li {
    color: #FFFFFF;
    display: inline;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: currentcolor;
}
#ul-class-topBar {
    margin-bottom: 0;
    padding-left: 0;
}
ul#ul-class-topBar li {
    color: #FFFFFF;
    display: inline;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: currentcolor;
    margin-left: 2em;
}
ul#ul-class-navigation {
    right: 10px;
    line-height: 200px;
    position: absolute;
}
ul#ul-class-navigation li {
    color: #FFFFFF;
    display: inline;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: currentcolor;
}

#Content {
    width: 100%;
    margin-top: 40px!important;
}
#SubContent{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
#FilterFrame {
    width: 25%;
    background-color: #F3F3F3;
    float: left;
    top: 216px;
    border-radius: 4px;
    padding: 20px;
}
.FilterOptions p{
    font-size: 16px;
    font-weight: 700;
}
#ResultsArea.Browse  {
    width: 75%;
    float: left;
    position: sticky;
    padding-left: 40px;
}
.productFrameLinks{
    width: 80%;
    float: left;
}
.productFrameRechts {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}
#StockItemFrameRight{
    text-align: right;
}
#ProductFrame {
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
}
.ImgFrame {
    width: 150px;
    height: 150px;
}
.productFrameLinksImage{
    width: 30%;
}
.productFrameLinksInfo{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}
.StockItemPriceText{
    font-size: 20px;
    color: #000000;
    margin: 0;
    font-weight: bold;
}
.StockItemBTW{
    font-size: 14px;
    color: #949494;
    margin: 0;
}
.ItemName {
    position: relative;
    top: 10px;
    font-family: pt-sans, sans-serif;
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
#VideoFrame {
    width: 100%;
    height: 350px;
    background-color: #d6d6d6;
    margin-bottom: 10px;
}
#ImageFrame {
    width: 300px;
    height: 300px;
    background-color: rgb(36, 41, 143);
    float: left;
    margin-right: 10px;
}
.QuantityText {
    position: absolute;
    left: 310px;
    bottom: 0;
}
.StockItemName{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.StockItemID, .ItemQuantity{
    font-size: 14px;
    color: #949494;
}
.StockItemNameViewSize {
    font-size: 35px !important;
    margin-bottom: 24px;
}
.CenterPriceLeft {
    position: absolute;
    height: 100%;
    right: 0;
    width: 200px;
}
#StockItemDescription {
    width: 49%;
    float: left;
    padding: 10px;
    margin-top:10px;
    border: 1px solid;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}
#StockItemSpecifications {
    width: 49%;
    float: left;
    padding: 10px;
    margin-left: 1%;
    margin-top:10px;
    border: 1px solid;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}
.Labels {
    margin-bottom: 0;
    padding: 10px;
    font-size: 20px;
    margin-right: 5px;
}
#LogoImage {
    max-width: 200px;
}
#ul-class-categorie{

}

ul#ul-class-categorie-price li {
    display: inline;
}
.TextPrice {
    margin-top: 16%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.HrefDecoration:hover, .HrefDecoration:active {
    text-decoration: none;
    color: #ccc;
}
.TextMain {
    color: #000000;
    font-family: vortice-concept, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    width: 60%;
    margin-left: 10%;
}
.HomePagePrice {
    color: #2680f6;
    list-style: none;
    font-family: vortice-concept, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 7%;
}
.HomePageStockItemPicture {
    background-image: url("../ProductIMGHighRes/580b57fbd9996e24bc43bf55.png");
    background-size: 100% 100%;
    width: 477px;
    height: 477px;
    background-repeat: no-repeat;
    margin-left: 55%;
    margin-top: -30%;
}
#Wrap {
    width: 100%;
    height: 600px;
    margin-top: 3%;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.StockGroups {
    position: relative;
    border: 1px solid slategrey;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 1.5%;
    font-family: vortice-concept, sans-serif;
    color: #FFFFFF;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
#StockGroup1 {
    width: 18%;
    height: 600px;
    margin-left: 5%;
}
#StockGroup2 {
    width: 18%;
    height: 600px;
    background-size: cover;
}
#StockGroup3 {
    width: 15%;
    height: 41.5%;
}
#StockGroup4 {
    width: 30%;
    height: 250px;
}
#StockGroup5 {
    width: 25%;
    height: 53.5%;
    margin-top: 1.5%;
}
#StockGroup6 {
    width: 20%;
    height: 53.5%;
    margin-left: 1.5%;
    margin-top: 1.5%;
}
.StockGroups h1 {
    position: absolute;
    left:0;
    right: 0;
    font-size: 25px;
}
#StockGroup2 h1 {
    bottom: 0;
}
#StockGroup1 h1 {
    bottom: 0;
}
#StockGroup5 h1 {
    bottom: 0;
}
#StockGroup6 h1 {
    bottom: 0;
}
#Wrap a {
    text-decoration: none;
    color: #FFFFFF;
}
#Wrap a:hover {
    color: #ccc;
    opacity: 0.9;
}
#CenteredContent {
    margin: 0 auto;
    width: 70%;
    padding-top: 10px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
#ImageCarousel {
    width: 300px;
    height: 300px;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    width: 20px;
    height: 20px;
}
.ListItem:hover {
    text-decoration: none;
}
#NoSearchResults {
    text-align: center;
    height: 100%;
    margin: 20px;
    position: relative;
}
#ProductNotFound {
    text-align: center;
    position: relative;

}
.IndexStyle {
    margin: 0 auto;
    width: 1400px;
}
.FilterTopMargin {
    margin-top: 24px;
    margin-bottom: 6px;
}
#products_on_page, select, input{
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    padding: 13px 10px;
}
#ProductFrame h6 {
    color: #FFFFFF;
}
#PageSelector {
    text-align: center;
    margin: 20px;
}


.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.sublogin {
    margin: 100px auto;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="email"], .login form input[type="password"], .login form input[type="text"], .login form input[type="tel"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}
.loginAddress {
    width: 155px!important;
}
.overzicht-wrapper {
    width: 100%;
}

.notificationError {
    margin-left: 15px;
    padding: 0 15px;
    background-color: #ffffff;
    width: 400px;
}

.notificationError h2 {
    font-size: 22px;
    color: #ff0000;
}

.notificationError p {
    color: #000000;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.product-overzicht {
    width: 75%;
    float: left;
}

.prijs-overzicht {
    width: 25%;
    float: left;
    padding: 36px;
    background-color: #F3F3F3;
    border-radius: 4px;
}

.prijs-overzicht h2 {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.prijs-overzicht table {
    width: 100%;
}

.prijs-overzicht p {
    color: #9F9F9F;
    font-size: 14px;
    margin-top: -6px;
    margin-bottom: 24px;
}

.prijs-overzicht td {
    color: #656565;
    font-size: 16px;
    padding: 6px 0;
}

.td-geld {
    color: #212121 !important;
    font-weight: 700;
}

.td-gratis-verz {
    color: #06D630 !important;
    font-weight: 700;
}

.table-rechts {
    text-align: right;
}

.bestelling-btn {
    display: block;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #06D630;
    padding: 13px 28px;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.2s;
}
.bestelling-btn:hover{
    background-color: #1BCC3F;

}
.betalen-hr {
    border-top: 2px dashed #D6D6D6;
}
.product-overzicht table{
    width: 100%;
}


#Header.row{
    margin: auto;
    padding-left: 8%;
}

#HeaderCategorie{
    background-color: #313638!important;
    padding: 18px 0;
}
.HrefDecorationCategorie{
    color: #FFFFFF!important;
}
#geenMargin{
    Margin: 0!important;
}
#geenPadding{
    Margin: 0!important;
}
.viewMainHeader{
    margin-bottom: 100px;
}
.ImageViewHeader{
    width: 50%;
}
.InfoViewHeader{
    width: 50%;
    padding-left: 85px;
}
.productInformatie{
    width: 66.66%;
}
.productSpecs{
    width: 33.34%;
}
.voorraad{
    color: #2BAE49;
}
#ProductImage img {
    max-height: 375px;
    display: block;
    margin: auto;
}
.naastElkaar{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}

/* Website max breedte en background */
.MainDivLayout{
    padding: 0 20px!important;
}
.DivContainter{
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.websiteContent{
    width: 100%;
    margin-top: 24px;
}

/* Menu css */
.categorieMenu{
    background-color: #313638!important;
}
.categorieMenuDiv{
    width: 100%;
}
.HeaderDiv {
    width: 100%;
    z-index: 999;
    padding: 26px 0;
}
#CategoriesBar{
    padding: 18px 0;
}
#CategoriesBar, ul#ul-class-categorie {
    margin: 0!important;
    padding-inline-start: 0;
}
ul#ul-class-categorie li {
    display: inline;
    color: #FFFFFF;
    margin-right: 1em;
    font-size: 15px;
    text-decoration: none;
}
.logoDiv {
    width: 20%!important;
}
.menuDiv {
    width: 80%;
    text-align: right;
    float: right;
}
.menuDiv li {
    display: inline;
    list-style: none;
}

/* Winkelwagen CSS */
.hideTH th{
    display: none!important;
}

/* Browse navigation */
.PageNumberActief {
    padding: 7px 15px;
    border-radius: 4px;
    background-color: #e8f2ff;
    border: 2px #007bff solid;
    color: #000000;
    font-weight: bold;
}
.PageNumberActief:hover{
    cursor: default;
}
.PageNumber {
    padding: 8px 16px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px rgb(193, 193, 193) solid;
    color: #007bff;
